
/* Hero Text Styles for Mobile */
.hero-text {
  position: relative;
  z-index: 2;
  /* background: rgba(245, 237, 238, 0.315); */
  /* background: rgba(34, 33, 33, 0.068); */
  /* background: #f7c8d0; */
  padding: 2.5rem 1.8rem;
  /* border-radius: 12px; */
 
  margin: 0 auto;
}

.hero-content {
  padding-bottom: 1.5rem;

  padding-top: 4rem;
}

.hero-p {
  font-family: var(--font-vietnam-regular);
  text-transform: uppercase;
  color: var(--color-primary-fixed);
    color: var(--color-on-primary);
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
  /* font-size: 1rem; */
  /* font-size: clamp(1.2rem, 2.5vw, 1.3rem); */
  font-size: 1.4rem;
}

.hero-content h1 {
  font-family: var(--font-noto-regular);
  /* font-size: 2.8rem; */
  /* font-size: clamp(4rem, 8vw, 4rem); */
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: 0.03em;
  /* color: #1a1c1c; */
  color: var(--color-on-primary);
  font-weight: 400;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

.hero-text-description p {
  font-family: var(--font-vietnam-regular);
  /* font-size: 1.1rem; */
  line-height: 1.55;
  color: #4d4447;
  color: var(--color-on-primary);
   /* color: var(--color-on-surface-variant); */
   /* color: var(--color-on-primary-container); */
  margin-bottom: 2rem;
  /* font-size: clamp(1.6rem, 2.5vw, 1.6rem); */
  font-size: 1.8rem;
}

.hero-content a {
  display: inline-block;
 
  /* color: #f9f9f9; */
  /* color: var(--color-on-surface-varient); */
  color: var( --color-on-primary);
  font-family: var(--font-vietnam-Light);
  font-size: 1.5rem;
  padding: 1.5rem 4.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  min-height: 4.4rem;
  transition: 0.5s ease;
 text-transform: uppercase;
  background-color: var(--color-primary-fixed-dim);

  color: var(--color-on-surface-variant);
}
.hero-content a:hover {
  /* background-color: var(--color-primary-fixed); */
  background-color: var(--color-primary-fixed);
}
@media(min-width:400px) and (max-width:900px){
  .hero-content{
    padding-top: 10rem;
  }
}
@media (min-width: 768px) {
  .hero-text {
    width: 100%;
    /* background: transparent; */
    padding: 0;
    max-width: none;
    margin: 0;
    padding-right: 2rem;
  }
.hero-content {
   
    padding-top: 0;
  }
  .hero-content .hero-p {


    line-height: 1.6;

   
    margin-bottom: 1.51rem;
  }
  .hero-content h1 {
  
    line-height: 1.1;
    /* font-size: clamp(4rem, 4vw, 6rem); */
    letter-spacing: 0.03em;
    /* text-wrap: balance; */
  font-size: 6rem;
    /* margin-bottom: 1.5rem; */
  }
  .hero-text-description {
    padding-top: 1.5rem;
    padding-right: 1.481rem;
    padding-bottom: 1.4rem;
  }
}
